.MainPage{
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
}

.GoalList{
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Header{
    position: fixed;
    padding: 1rem 0;
}
